admin_user: p

# Also define 'vault_users' (`group_vars/staging/vault.yml`, `group_vars/production/vault.yml`)
users:
  - name: "{{ web_user }}"
    groups:
      - "{{ web_group }}"
    keys:
      # - "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
      - https://github.com/ptibbetts.keys
  - name: "{{ admin_user }}"
    groups:
      - sudo
    keys:
      - https://github.com/ptibbetts.keys
  
web_user: web
web_group: www-data
web_sudoers:
  - "/usr/sbin/service php7.1-fpm *"
  - "/usr/bin/supervisorctl *"
